# Large external data symlinks / outputs
data/bids_ackbar/
data/fmriprep_output/
data/fmriprep_output_native/
data/fmriprep_output_mni/
data/processed/
logs/

# Optional generated outputs
figures/
reports/

# Python / notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# System / env
.DS_Store
.env
.venv/

# External dataset symlinks
data/bids_ackbar
data/fmriprep_output
data/fmriprep_output_native
